ion-textarea{
    border: var(--ion-color-secondary) 1px solid;
    border-radius: 3px;
    --placeholder-color: black;    
    font-size: small;
}

fieldset{
    border:none;
}

/* ion-row{
    border: 1px solid black;
}

ion-col{
    border: 1px solid green;
}

ion-row{
    border: 1px solid red;
}

p{
    border: 1px solid blue;
}

div{
    border: 1px solid blue;
    width: 100%;
} */