/*ion-grid{
    border: blue 1px solid;
}

ion-col{
    border: green 1px solid;
}

ion-button{
    border: blue 1px solid;
}

ion-row{
    border: red 1px solid;
} */

ion-label{
    border: red 1pxx solid;
}
