<ion-header>
  <ion-toolbar>
    <ion-title>Auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #formRef="ngForm">
    <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" ngModel email required #emailRef="ngModel"></ion-input>                          
        </ion-item>
        <ion-item *ngIf="!emailRef.valid && emailRef.touched" lines="none">
            <ion-label>Please enter valid email address...</ion-label>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" ngModel minlength="3" maxlength="9" required #passRef="ngModel"></ion-input>                
        </ion-item>
        <ion-item *ngIf="!passRef.valid && passRef.touched" lines="none">
            <ion-label>Please enter valid password...</ion-label>
        </ion-item>
    </ion-list>
    <ion-button [disabled]="!formRef.valid" (click)="onLoginClicked(formRef)">LOGIN</ion-button>
  </form>  
</ion-content>
