<ion-header>
  <ion-toolbar>
    <ion-title>Login / Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #formRef="ngForm">
    <ion-grid class="ion-no-padding" fixed>      
        <ion-row>
          <ion-col>
            <ion-item>
                <ion-label color="primary" position="floating">Email</ion-label>
                <ion-input type="email" name="email" ngModel email required #emailRef="ngModel"></ion-input>                          
            </ion-item>
            <ion-item *ngIf="!emailRef.valid && emailRef.touched" lines="none">
                <ion-label color="danger">Please enter valid email address...</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="floating">Password</ion-label>
                <ion-input type="password" name="password" ngModel minlength="3" maxlength="9" required #passRef="ngModel"></ion-input>                
            </ion-item>
            <ion-item *ngIf="!passRef.valid && passRef.touched" lines="none">
                <ion-label color="danger">Please enter valid password...</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="_hasErrors">
          <ion-col>
            <ion-item lines="none" text-wrap>
              <ion-label color="danger">{{ _errorMessage }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around ion-padding-top">
          <ion-col
            size-xs="12"
            size-sm="4"
            offset-lg="8"
            size-lg="2"
            class="ion-no-padding">
            <ion-button
              (click)="onLoginClicked(formRef)"
              expand="full"
              [disabled]="!formRef.valid"
            >LOGIN</ion-button>              
          </ion-col>         
          <ion-col
            size-xs="12"
            size-sm="4"
            size-lg="2"                                  
            class="ion-no-padding"
          >
            <ion-button
              color="secondary"
              [disabled]="!formRef.valid"
              expand="full"
              (click)="onSignupClicked(formRef)"
            >SIGNUP</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>        
  </form>  
</ion-content>
