<ion-header>
  <ion-toolbar>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="formSubmitted()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fixed>
  <form [formGroup]="_offerForm">
    <ion-grid no-padding>

      <fieldset formGroupName="place">
        <ion-row>
          <ion-col>

            <ion-item>
              <ion-label color="primary" position="floating">Title</ion-label>
              <ion-input type="text" formControlName="title"></ion-input>             
            </ion-item>

            <ion-item *ngIf="this._didValidate && !this._validationResult['place.title']">
              <ion-label color="danger">               
                <p>Must be more than 3 characters long and less than 60 characters long.</p>
              </ion-label>
            </ion-item>
            
            <ion-item>
              <ion-label color="primary" position="floating">Description</ion-label>
              <ion-textarea
                placeholder="Enter place description here..."
                rows="3" cols="60" formControlName="description">
              </ion-textarea>
            </ion-item>

            <ion-item *ngIf="this._didValidate && !this._validationResult['place.description']">
              <ion-label color="danger">
                <p>Must be more than 3 characters long and less than 60 characters long.</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label color="primary" position="floating">Picture</ion-label>
              <ion-input type="text" #pictureInput  debounce="300" formControlName="imageUrl"></ion-input>
            </ion-item>

            <ion-item *ngIf="this._didValidate && !this._validationResult['place.imageUrl']">
                <ion-label color="danger">
                  <p>Field is required</p>
                </ion-label>
            </ion-item>

            <ion-item *ngIf="pictureInput.value" padding>
              <ion-img [src]="pictureInput.value"></ion-img>
            </ion-item>

            <ion-item>
              <ion-label color="primary" position="floating">Price</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>

            <ion-item *ngIf="this._didValidate && !this._validationResult['place.price']">
                <ion-label color="danger">
                  <p>Value must be greater than 1</p>
                </ion-label>
            </ion-item>

          </ion-col>
        </ion-row>
      </fieldset>
      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">Available from</ion-label>
            <ion-datetime min="2019-01-02" max="2025-12-31" formControlName="startDate"></ion-datetime>
          </ion-item>

          <ion-item *ngIf="this._didValidate && !this._validationResult['startDate']">
              <ion-label color="danger">
                <p>Field is required</p>
              </ion-label>
          </ion-item>

        </ion-col>
        <ion-col>
          <ion-item>
              <ion-label color="primary" position="floating">Available to</ion-label>
              <ion-datetime min="2019-01-02" max="2025-12-31" formControlName="endDate"></ion-datetime>
          </ion-item>

          <ion-item *ngIf="this._didValidate && !this._validationResult['endDate']">
              <ion-label color="danger">
                <p>Field is required</p>
              </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this._networkError">
        <ion-col>
          <ion-item lines="none">
            <ion-label color="danger">Network error. Place could not be saved.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
